<div class="ui mini top attached menu">
  <div class="ui compact icon button item" title="Bold" (click)="bold()"><i class="bold icon"></i></div>
  <div class="ui compact icon button item" title="Italic" (click)="italic()"><i class="italic icon"></i></div>
  <div class="ui compact icon button item" title="Link" (click)="link()"><i class="linkify icon"></i></div>
  <div class="ui compact icon button item" title="Block Quote" (click)="quote()"><i class="left quote icon"></i></div>
  <div class="ui compact icon button item" title="Preformatted Text" (click)="code()"><i class="code icon"></i></div>
  <div class="ui compact icon button item" title="Image" (click)="image()"><i class="image outline icon"></i></div>
  <div class="right menu">
    <div class="ui compact icon button item" title="Ordered List" (click)="ol()"><i class="ol list icon"></i></div>
    <div class="ui compact icon button item" title="Unordered List" (click)="ul()"><i class="ul list icon"></i></div>
    <div class="ui compact icon button item" title="Header" (click)="header()"><i class="heading icon"></i></div>
    <div class="ui compact icon button item" title="Horizontal Rule" (click)="rule()"><i class="alternate horizontal arrows icon"></i></div>
  </div>
</div>
<textarea class="ui attached segment" [(ngModel)]="markdown" #textarea></textarea>
<div class="ui bottom attached segment" [innerHtml]="html(markdown)" #preview></div>
