/* You can add global styles to this file, and also import other style files */
appTitle = cursive
appHeader = sans-serif
appText = sans-serif

_4K = 2560px
monitor = 1920px
laptopL = 1440px
laptop = 1024px
tablet = 768px
mobileL = 425px
mobileM = 375px
mobileS = 320px

clear = #0000

align-items(args)
  align-items args
  -webkit-align-items args
background-position-x(args)
  background-position: args
  -ms-background-position-x: args
background-position-y(args)
  -ms-background-position-y: args
  background-position-y: args
background-size(args)
  background-size args
  -moz-background-size args
  -o-background-size args
  -webkit-background-size args
font-family(args)
  font-family args
  mso-ascii-font-family args
  mso-bidi-font-family args
  mso-fareast-font-family args
  mso-generic-font-family args
  mso-hansi-font-family args
  mso-symbol-font-family args

body
  font-family appText
